<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
<a style="width: 50px;">
    <img src="https://hackernoon.com/hn-images/1*AqNklmVHdflXU4aDbIAzAQ.png" width="30" height="30" class="d-inline-block align-top" alt="">
</a >
<h2 class="text-center">
CRYPTO-NET</h2>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      </li>
      <li class="nav-item dropdown">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        </div>
      </li>
      <li class="nav-item">
      </li>
    </ul>
     <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>
</nav>